<!DOCTYPE html>

<head>    
    <style>
        .carousel-item img {
            width: 100%; 
            height: 300px; 
            object-fit: cover; 
        }
    </style>
</head>


<div id="carouselTrabalhoFinalAcademiaNet" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/Motorcycle-Oil.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/gasolina.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/BrPosto.jpg" alt="Third  slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselTrabalhoFinalAcademiaNet" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTrabalhoFinalAcademiaNet" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>