@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <partial name="_Carousel"/>
</div> 


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@



@* <!DOCTYPE html>
<html>
<head>
    <title>Meu Template</title>
    <link href="~/css/dashboard.css" rel="stylesheet" />
</head>
<body>


    <script src="~/js/dashboard.js"></script>

</body>

</html> *@